.vscode
.idea

test.php
vendor/*
build/*
**/*/node_modules
**/*/*-lock.json
!**/.gitkeep

.ht*
!.ht*.*

*.phar
*.bak
*.cache
*.lock
*.xml
*.log
*.sql
*.sqlite
*.db
.Trashes
.DS_Store
.DS_Store?
.Spotlight-V100
._*
